*egg-info*
data*
results*
doc*
*pycache*
*log*
*synctex*
*aux*
*.bbl
*.blg
*.out
drivers/oneoffs*
*secret*
SANDBOX*
*ipynb_checkpoints*
art/*
*_arxiv_*
.vscode*
*joblist
*.tar.gz
*.sif
*fits
*.bak
*.lst
*pkl
drivers/*csv
run_iterative_pbls_kplr*dag
*.swp
*deprecated*
*png
drivers/known_planets_30.0-60.0pc/
scripts/LOGS/
drivers/test_results/
notebooks
drivers/*results
